<div class='card mt-4'>
    <div class='card-header'>
        {{pageTitle}}
    </div>
    <div class='card-body'>
        <div class='row'>
            <div class="input-group m-2 col-md-5">
                <input type="text" class="form-control" placeholder="Search..." aria-label="Search..."
                    aria-describedby="basic-addon2" [(ngModel)]='listFilter'>
                <div class="input-group-append" *ngIf='listFilter'>
                    <button class="btn btn-warning" type="button" (click)='clearInput()'>Clear Search</button>
                </div>
            </div>
        </div>
        <!-- <div class='row mt-4'>
            <div class='col-md-6'>
                <h4>Filtered by: {{listFilter}}</h4>
            </div>
        </div> -->
        <div class='table-responsive' *ngIf='products && products.length'>
            <table class='table'>
                <thead class='text-primary'>
                    <tr>
                        <th>
                            <button class='btn btn-primary btn-sm' (click)='toggleImage()'>
                                {{showImage ? 'Hide' : "Show"}} Image
                            </button>
                        </th>
                        <th>Product</th>
                        <th>Code</th>
                        <th>Available</th>
                        <th>Price</th>
                        <th>Ratings</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let product of filteredProducts' [style.height.px]='imageHeight'>
                        <td>
                            <img *ngIf='showImage' [src]='product.imageUrl' [title]='product.productName'
                                [style.width.px]='imageWidth' [style.margin.px]='imageMargin'>
                        </td>
                        <td>{{product.productName}}</td>
                        <td>{{product.productCode | lowercase | convertToSpaces:'-'}}</td>
                        <td>{{product.releaseDate}}</td>
                        <td>{{product.price | currency:'USD':'symbol':'1.2-2'}}</td>
                        <td><pm-star [rating] = 'product.starRating'></pm-star></td>
                    </tr>
                    <div *ngIf='filteredProducts.length == 0' class="alert alert-danger mt-4" role="alert">
                        No matching result, please try again.
                    </div>
                </tbody>
            </table>
        </div>
    </div>
</div>