<div class="has-text-centered">
  <h1 class="title mt-4">{{pageTitle}}</h1>
  <h3 class="title is-family-hand">This is a <em>Basic Product Management Tool</em>, nothing fancy.</h3>
  <div class="card-body">
    <div class="container-fluid">
      <h4 class="title mt-4">Brought to you by</h4>
      <div class="avatar">
        <img src="https://d33wubrfki0l68.cloudfront.net/f889430202cebb38797416bf08da875a98ff4585/a607f/img/philip_kuo.jpg">
      </div>
      <span class="title">Philip Kuo</span>
    </div>
  </div>
</div>